In [1]:
mystring='hello'

In [4]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
mylist=[letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist=[n**2 for n in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
l=[x**2 for x in range(0,11) if x%2==0]
l

[0, 4, 16, 36, 64, 100]

In [14]:
c=[0,10,20,34.5]
f=[((9/5)*t+32) for t in c]
f

[32.0, 50.0, 68.0, 94.1]

In [15]:
f=[]
for t in c:
    f.append((9/5*t+32))
f

[32.0, 50.0, 68.0, 94.1]

In [19]:
f=[(9/5*t+32) for t in f]
f

[89.6, 122.0, 154.4, 201.38]

In [21]:
r=[x if x%2==0 else 'ODD' for x in range(0,11)]
r

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]